@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(135deg, #1e1b4b, #312e81, #4f46e5);
  color: rgb(6, 6, 6);
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
}
